.fade{
	width:100%;
	height:100%;
	margin:0;
	animation:fade 2s;
	animation-delay: 6.5s;
	-webkit-animation-fill-mode: forwards;
}
.rotate_collection{
	position:absolute;
	width:600px;
 	height:600px;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	opacity:0;
	animation:rotate_collection 15s;
	animation-delay: 2.5s;
	-webkit-animation-fill-mode: forwards;
}
.small_circle1{
 	width:80px;
 	height:80px;
	position:absolute; 
  	top:50%;  
  	left:50%;
	margin-top:-300px;
	margin-left:-40px;
 	border-radius:40px;
 	-moz-border-radius:40px;
 	-webkit-border-radius:40px;
 	-ms-border-radius:40px;
 	-khtml-border-radius:40px;
 	-o-border-radius:40px;
	opacity:0;
	background:#ffffff;
	animation:small_circle 1s;
	animation-delay: 2.5s;
	-webkit-animation-fill-mode: forwards;
}
.small_circle2{
 	width:80px;
 	height:80px;
	position:absolute; 
  	top:50%;  
  	left:50%;
	margin-top:-238px;
	margin-left:-238px;
 	border-radius:40px;
 	-moz-border-radius:40px;
 	-webkit-border-radius:40px;
 	-ms-border-radius:40px;
 	-khtml-border-radius:40px;
 	-o-border-radius:40px;
	opacity:0;
	background:#ffffff;
	animation:small_circle 1s;
	animation-delay: 2.75s;
	-webkit-animation-fill-mode: forwards;
}
.small_circle3{
 	width:80px;
 	height:80px;
	position:absolute; 
  	top:50%;  
  	left:50%;
	margin-top:-40px;
	margin-left:-300px;
 	border-radius:40px;
 	-moz-border-radius:40px;
 	-webkit-border-radius:40px;
 	-ms-border-radius:40px;
 	-khtml-border-radius:40px;
 	-o-border-radius:40px;
	opacity:0;
	background:#ffffff;
	animation:small_circle 1s;
	animation-delay: 3s;
	-webkit-animation-fill-mode: forwards;
}
.small_circle4{
 	width:80px;
 	height:80px;
	position:absolute; 
  	top:50%;  
  	left:50%;
	margin-top:158px;
	margin-left:-238px;
 	border-radius:40px;
 	-moz-border-radius:40px;
 	-webkit-border-radius:40px;
 	-ms-border-radius:40px;
 	-khtml-border-radius:40px;
 	-o-border-radius:40px;
	opacity:0;
	background:#ffffff;
	animation:small_circle 1s;
	animation-delay: 3.25s;
	-webkit-animation-fill-mode: forwards;
}
.small_circle5{
 	width:80px;
 	height:80px;
	position:absolute; 
  	top:50%;  
  	left:50%;
	margin-top:220px;
	margin-left:-40px;
 	border-radius:40px;
 	-moz-border-radius:40px;
 	-webkit-border-radius:40px;
 	-ms-border-radius:40px;
 	-khtml-border-radius:40px;
 	-o-border-radius:40px;
	opacity:0;
	background:#ffffff;
	animation:small_circle 1s;
	animation-delay: 3.5s;
	-webkit-animation-fill-mode: forwards;
}
.small_circle6{
 	width:80px;
 	height:80px;
	position:absolute; 
  	top:50%;  
  	left:50%;
	margin-top:158px;
	margin-left:158px;
 	border-radius:40px;
 	-moz-border-radius:40px;
 	-webkit-border-radius:40px;
 	-ms-border-radius:40px;
 	-khtml-border-radius:40px;
 	-o-border-radius:40px;
	opacity:0;
	background:#ffffff;
	animation:small_circle 1s;
	animation-delay: 3.75s;
	-webkit-animation-fill-mode: forwards;
}
.small_circle7{
 	width:80px;
 	height:80px;
	position:absolute; 
  	top:50%;  
  	left:50%;
	margin-top:-40px;
	margin-left:220px;
 	border-radius:40px;
 	-moz-border-radius:40px;
 	-webkit-border-radius:40px;
 	-ms-border-radius:40px;
 	-khtml-border-radius:40px;
 	-o-border-radius:40px;
	opacity:0;
	background:#ffffff;
	animation:small_circle 1s;
	animation-delay: 4s;
	-webkit-animation-fill-mode: forwards;
}
.small_circle8{
 	width:80px;
 	height:80px;
	position:absolute; 
  	top:50%;  
  	left:50%;
	margin-top:-232px;
	margin-left:158px;
 	border-radius:40px;
 	-moz-border-radius:40px;
 	-webkit-border-radius:40px;
 	-ms-border-radius:40px;
 	-khtml-border-radius:40px;
 	-o-border-radius:40px;
	opacity:0;
	background:#ffffff;
	animation:small_circle 1s;
	animation-delay: 4.25s;
	-webkit-animation-fill-mode: forwards;
}
.gradation{
	opacity:0;
	width:100%;
	height:100%;
	animation:gradation 4s;
	animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;
}
.big_circle1 {
	opacity:0;
	position:absolute;
	left: 0; 
	right: 0;
	bottom: 0;
	top: 0;
	margin:auto;
	animation:big_circle1 2s;
	-webkit-animation-fill-mode: forwards;
}
.big_circle2{
	opacity:0;
	position:absolute;
	left: 0; 
	right: 0;
	bottom: 0;
	top: 0;
	margin:auto;
	animation:big_circle2 0.8s;
	animation-delay: 1.5s;
	-webkit-animation-fill-mode: forwards;
}
.big_circle3{
	opacity:0;
	position:absolute;
	left: 0; 
	right: 0;
	bottom: 0;
	top: 0;
	margin:auto;
	animation:big_circle3 0.7s;
	animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;
}
.big_circle4{
	opacity:0;
	position:absolute;
	left: 0; 
	right: 0;
	bottom: 0;
	top: 0;
	margin:auto;
	animation:big_circle4 0.7s;
	animation-delay: 2.2s;
	-webkit-animation-fill-mode: forwards;
}
.girl1, .girl2, .girl3, .girl4{
	opacity:0;
	position:absolute; 
  	top:40px;  
  	left:0;
	bottom:0;
	right:0;
	margin:auto;
	width:140px;
	height:255px;
}
.text{
	position:absolute;   	
	font-size:80px;
	width:100%;
	height:200px;
	line-height:200px;
	text-align:center;
	font-weight:bold;
	top:50%;
	margin-top:-100px;
	color:#0093e5;
	opacity:0;
	animation:text 5s;
	animation-delay: 1.5s;
	-webkit-animation-fill-mode: forwards;
}
.copy_right{
	position:absolute;
	text-align:center;
	width:100%;
	top:50%;
	height:50px;
	line-height:50px;
	margin-top:300px;
	color:#ffffff;
}
@keyframes rotate_collection {
  	0% {
    		opacity:0;
		transform: rotate(0deg);
  	}
	6.6%{
		opacity:1;
		transform: rotate(0deg);
	}
  	100% {
		opacity:1;
		transform: rotate(1440deg);
  	}
}
@keyframes small_circle {
  	0% {
		opacity:0;
		transform: scale(2);
  	}
  	100% {
		opacity:1;
		transform: scale(1);
  	}
}

@keyframes gradation {
  	0% {
		opacity:0;
  	}
  	100% {
		opacity:1;
  	}
}
@keyframes big_circle1 {
  	2% {
		opacity:1;
		transform: scale(1);
  	}
	50% {
		opacity:1;
		transform: scale(0.83);
		
	}
	75% {
		opacity:1;
		transform: scale(0.06);
	}
  	100% {
		opacity:1;
		transform: scale(6);
  	}
}
@keyframes big_circle2 {
  	0% {
		opacity:1;
		transform: scale(0);
  	}
  	100% {
		opacity:1;
		transform: scale(1.42);
  	}
}
@keyframes big_circle3 {
  	0% {
		opacity:1;
		transform: scale(0);
  	}
  	100% {
		opacity:1;
		transform: scale(1.73);
  	}
}
@keyframes big_circle4 {
  	0% {
		opacity:1;
		transform: scale(0);
  	}
	70%{
		opacity:1;
		transform: scale(1.28);
	}
  	100% {
		opacity:1;
		transform: scale(1);
  	}
}
@keyframes text {
  	0% {
    		opacity:0;
  	}
	5%{
		opacity:1;
	}
	35%{
		opacity:1;  	
		font-size:80px;
		margin-top:-100px;
	}
	50%{
		opacity:1;  	
		font-size:70px;
		margin-top:-180px;
	}
  	100% {
    		opacity:1;
		font-size:70px;
		margin-top:-180px;
  	}
}
@keyframes fade {
  	0% {
    		opacity:1;
  	}
  	100% {
    		opacity:0;
  	}
}