.fade{
	width:100%;
	height:100%;
	margin:0;
	animation:fade 2s;
	animation-delay: 6.5s;
	-webkit-animation-fill-mode: forwards;
}
#main{
	float:left;
	opacity:0;
	animation:main 2s;
	animation-delay: 6.5s;
	-webkit-animation-fill-mode: forwards;
}
.rotate_collection{
	position:absolute;
	width:600px;
 	height:600px;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	opacity:0;
	animation:rotate_collection 15s;
	animation-delay: 2.5s;
	-webkit-animation-fill-mode: forwards;
}
.small_circle1{
 	width:80px;
 	height:80px;
	position:absolute; 
  	top:50%;  
  	left:50%;
	margin-top:-300px;
	margin-left:-40px;
 	border-radius:40px;
 	-moz-border-radius:40px;
 	-webkit-border-radius:40px;
 	-ms-border-radius:40px;
 	-khtml-border-radius:40px;
 	-o-border-radius:40px;
	opacity:0;
	background:#ffffff;
	animation:small_circle 10s;
	animation-delay: 2.5s;
	-webkit-animation-fill-mode: forwards;
}
.small_circle2{
 	width:80px;
 	height:80px;
	position:absolute; 
  	top:50%;  
  	left:50%;
	margin-top:-238px;
	margin-left:-238px;
 	border-radius:40px;
 	-moz-border-radius:40px;
 	-webkit-border-radius:40px;
 	-ms-border-radius:40px;
 	-khtml-border-radius:40px;
 	-o-border-radius:40px;
	opacity:0;
	background:#ffffff;
	animation:small_circle 10s;
	animation-delay: 2.75s;
	-webkit-animation-fill-mode: forwards;
}
.small_circle3{
 	width:80px;
 	height:80px;
	position:absolute; 
  	top:50%;  
  	left:50%;
	margin-top:-40px;
	margin-left:-300px;
 	border-radius:40px;
 	-moz-border-radius:40px;
 	-webkit-border-radius:40px;
 	-ms-border-radius:40px;
 	-khtml-border-radius:40px;
 	-o-border-radius:40px;
	opacity:0;
	background:#ffffff;
	animation:small_circle 10s;
	animation-delay: 3s;
	-webkit-animation-fill-mode: forwards;
}
.small_circle4{
 	width:80px;
 	height:80px;
	position:absolute; 
  	top:50%;  
  	left:50%;
	margin-top:158px;
	margin-left:-238px;
 	border-radius:40px;
 	-moz-border-radius:40px;
 	-webkit-border-radius:40px;
 	-ms-border-radius:40px;
 	-khtml-border-radius:40px;
 	-o-border-radius:40px;
	opacity:0;
	background:#ffffff;
	animation:small_circle 10s;
	animation-delay: 3.25s;
	-webkit-animation-fill-mode: forwards;
}
.small_circle5{
 	width:80px;
 	height:80px;
	position:absolute; 
  	top:50%;  
  	left:50%;
	margin-top:220px;
	margin-left:-40px;
 	border-radius:40px;
 	-moz-border-radius:40px;
 	-webkit-border-radius:40px;
 	-ms-border-radius:40px;
 	-khtml-border-radius:40px;
 	-o-border-radius:40px;
	opacity:0;
	background:#ffffff;
	animation:small_circle 10s;
	animation-delay: 3.5s;
	-webkit-animation-fill-mode: forwards;
}
.small_circle6{
 	width:80px;
 	height:80px;
	position:absolute; 
  	top:50%;  
  	left:50%;
	margin-top:158px;
	margin-left:158px;
 	border-radius:40px;
 	-moz-border-radius:40px;
 	-webkit-border-radius:40px;
 	-ms-border-radius:40px;
 	-khtml-border-radius:40px;
 	-o-border-radius:40px;
	opacity:0;
	background:#ffffff;
	animation:small_circle 10s;
	animation-delay: 3.75s;
	-webkit-animation-fill-mode: forwards;
}
.small_circle7{
 	width:80px;
 	height:80px;
	position:absolute; 
  	top:50%;  
  	left:50%;
	margin-top:-40px;
	margin-left:220px;
 	border-radius:40px;
 	-moz-border-radius:40px;
 	-webkit-border-radius:40px;
 	-ms-border-radius:40px;
 	-khtml-border-radius:40px;
 	-o-border-radius:40px;
	opacity:0;
	background:#ffffff;
	animation:small_circle 10s;
	animation-delay: 4s;
	-webkit-animation-fill-mode: forwards;
}
.small_circle8{
 	width:80px;
 	height:80px;
	position:absolute; 
  	top:50%;  
  	left:50%;
	margin-top:-232px;
	margin-left:158px;
 	border-radius:40px;
 	-moz-border-radius:40px;
 	-webkit-border-radius:40px;
 	-ms-border-radius:40px;
 	-khtml-border-radius:40px;
 	-o-border-radius:40px;
	opacity:0;
	background:#ffffff;
	animation:small_circle 10s;
	animation-delay: 4.25s;
	-webkit-animation-fill-mode: forwards;
}
.big_circle1 {
	opacity:0;
 	width:300px;
 	height:300px;
	position:absolute; 
  	top:50%;  
  	left:50%;
	margin-top:-150px;
	margin-left:-150px;
 	border-radius:150px;
 	-moz-border-radius:150px;
 	-webkit-border-radius:150px;
 	-ms-border-radius:150px;
 	-khtml-border-radius:150px;
 	-o-border-radius:150px;
	background:#79e2d4;
	animation:big_circle1 2s;
	-webkit-animation-fill-mode: forwards;
}
.big_circle2{
	position:absolute; 
  	top:50%;  
  	left:50%;
	background:#ffffff;
	animation:big_circle2 0.8s;
	animation-delay: 1.5s;
	-webkit-animation-fill-mode: forwards;
}
.big_circle3{
	position:absolute; 
  	top:50%;  
  	left:50%;
	background:#79e2d4;
	animation:big_circle3 0.7s;
	animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;
}
.big_circle4{
	position:absolute; 
  	top:50%;  
  	left:50%;
	background:#ffffff;
	animation:big_circle4 0.7s;
	animation-delay: 2.2s;
	-webkit-animation-fill-mode: forwards;
}
.big_circle5{
	position:absolute; 
  	top:50%;  
  	left:50%;
	background:#ffffff;
	animation:big_circle5 1s;
	animation-delay: 5s;
	-webkit-animation-fill-mode: forwards;
}
.slime{
	opacity:0;
	position:absolute; 
  	top:140px;  
  	left:0;
	bottom:0;
	right:0;
	width:100px;
	height:80px;
	margin:auto;
 	border-radius:120px 120px 120px 120px;
 	-moz-border-radius:120px 120px 120px 120px;
 	-webkit-border-radius:120px 120px 120px 120px;
 	-ms-border-radius:120px 120px 120px 120px;
 	-khtml-border-radius:120px 120px 120px 120px;
 	-o-border-radius:120px 120px 120px 120px;
	background:#79e2d4;
	animation:slime 9s;
	animation-delay: 1s;
	-webkit-animation-fill-mode: forwards;
}
.eye{
    	opacity:0;
	width:60px;
	height:26px;
	position:absolute; 
  	top:150px;  
  	left:0;
	bottom:0;
	right:0;
	margin:auto;
	animation:eye 9s;
	animation-delay: 1s;
	-webkit-animation-fill-mode: forwards;
}
.text{
	position:absolute;   	
	font-size:60px;
	width:100%;
	height:200px;
	line-height:200px;
	text-align:center;
	font-weight:bold;
	top:50%;
	margin-top:-180px;
	color:#79e2d4;
	opacity:0;
	animation:text 0.1s;
	animation-delay: 1.5s;
	-webkit-animation-fill-mode: forwards;
}
.copy_right{
	position:absolute;
	text-align:center;
	width:100%;
	top:50%;
	height:50px;
	line-height:50px;
	margin-top:300px;
	color:#ffffff;
}
@keyframes rotate_collection {
  	0% {
    		opacity:0;
		transform: rotate(0deg);
  	}
	6.6%{
		opacity:1;
		transform: rotate(0deg);
	}
  	100% {
		opacity:1;
		transform: rotate(1080deg);
  	}
}
@keyframes small_circle {
  	0% {
		opacity:0;
		transform: scale(2);
  	}
  	10% {
		opacity:1;
		transform: scale(1);
  	}
  	30% {
		opacity:1;
		transform: scale(1);
  	}
  	35% {
		opacity:0;
		transform: scale(1);
  	}
  	100% {
		opacity:0;
		transform: scale(1);
  	}
}
@keyframes big_circle1 {
  	2% {
		opacity:1;
    		width:300px;
    		height:300px;
		margin-top:-150px;
		margin-left:-150px;
  	}
	50% {
		opacity:1;
    		width:250px;
    		height:250px;
		margin-top:-125px;
		margin-left:-125px;
		
	}
	75% {
		opacity:1;
    		width:20px;
    		height:20px;
		margin-top:-10px;
		margin-left:-10px;
	}
  	100% {
		opacity:1;
    		width:2000px;
    		height:2000px;
 		border-radius:1000px;
 		-moz-border-radius:1000px;
 		-webkit-border-radius:1000px;
 		-ms-border-radius:1000px;
 		-khtml-border-radius:1000px;
 		-o-border-radius:1000px;
		margin-top:-1000px;
		margin-left:-1000px;
  	}
}
@keyframes big_circle2 {
  	0% {
    		width:0px;
 		height:0px;
  	}
  	100% {
    		width:500px;
    		height:500px;
 		border-radius:250px;
 		-moz-border-radius:250px;
 		-webkit-border-radius:250px;
 		-ms-border-radius:250px;
 		-khtml-border-radius:250px;
 		-o-border-radius:250px;
		margin-top:-250px;
		margin-left:-250px;
  	}
}
@keyframes big_circle3 {
  	0% {
    		width:0px;
 		height:0px;
  	}
  	100% {
    		width:520px;
    		height:520px;
 		border-radius:260px;
 		-moz-border-radius:260px;
 		-webkit-border-radius:260px;
 		-ms-border-radius:260px;
 		-khtml-border-radius:260px;
 		-o-border-radius:260px;
		margin-top:-260px;
		margin-left:-260px;
  	}
}
@keyframes big_circle4 {
  	0% {
    		width:0px;
 		height:0px;
  	}
	70%{
		
    		width:450px;
    		height:450px;
 		border-radius:225px;
 		-moz-border-radius:225px;
 		-webkit-border-radius:225px;
 		-ms-border-radius:225px;
 		-khtml-border-radius:225px;
 		-o-border-radius:225px;
		margin-top:-225px;
		margin-left:-225px;
	}
  	100% {
    		width:350px;
    		height:350px;
 		border-radius:175px;
 		-moz-border-radius:175px;
 		-webkit-border-radius:175px;
 		-ms-border-radius:175px;
 		-khtml-border-radius:175px;
 		-o-border-radius:175px;
		margin-top:-175px;
		margin-left:-175px;
  	}
}
@keyframes big_circle5 {
  	0% {
		opacity:1;
    		width:0px;
 		height:0px;
  	}
  	100% {
		opacity:0;
    		width:2000px;
    		height:2000px;
 		border-radius:1000px;
 		-moz-border-radius:1000px;
 		-webkit-border-radius:1000px;
 		-ms-border-radius:1000px;
 		-khtml-border-radius:1000px;
 		-o-border-radius:1000px;
		margin-top:-1000px;
		margin-left:-1000px;
  	}
}
@keyframes text {
  	0% {
    		opacity:0;
  	}
  	100% {
    		opacity:1;
  	}
}
@keyframes slime{
	15%{	
		opacity:1;
		top:140px;  
		width:100px;
		height:80px;
 		border-radius:120px 120px 120px 120px;
 		-moz-border-radius:120px 120px 120px 120px;
 		-webkit-border-radius:120px 120px 120px 120px;
 		-ms-border-radius:120px 120px 120px 120px;
 		-khtml-border-radius:120px 120px 120px 120px;
 		-o-border-radius:120px 120px 120px 120px;
	}29%{
		opacity:1;
		top:140px; 
		width:100px; 
		height:80px;
 		border-radius:120px 120px 120px 120px;
 		-moz-border-radius:120px 120px 120px 120px;
 		-webkit-border-radius:120px 120px 120px 120px;
 		-ms-border-radius:120px 120px 120px 120px;
 		-khtml-border-radius:120px 120px 120px 120px;
 		-o-border-radius:120px 120px 120px 120px;
	}30%{
		opacity:1;
		top:140px;
		width:100px;  
		height:60px;
 		border-radius:60px 60px 20px 20px;
 		-moz-border-radius:60px 60px 20px 20px;
 		-webkit-border-radius:60px 60px 20px 20px;
 		-ms-border-radius:60px 60px 20px 20px;
 		-khtml-border-radius:60px 60px 20px 20px;
 		-o-border-radius:60px 60px 20px 20px;
	}40%{
		opacity:1;
		top:-90px;
		width:80px;  
		height:90px;
 		border-radius:100px 100px 100px 100px;
 		-moz-border-radius:100px 100px 100px 100px;
 		-webkit-border-radius:100px 100px 100px 100px;
 		-ms-border-radius:100px 100px 100px 100px;
 		-khtml-border-radius:100px 100px 100px 100px;
 		-o-border-radius:100px 100px 100px 100px;
	}47%{
		opacity:1;
		top:140px;  
		width:100px;
		height:80px;
 		border-radius:120px 120px 120px 120px;
 		-moz-border-radius:120px 120px 120px 120px;
 		-webkit-border-radius:120px 120px 120px 120px;
 		-ms-border-radius:120px 120px 120px 120px;
 		-khtml-border-radius:120px 120px 120px 120px;
 		-o-border-radius:120px 120px 120px 120px;
	}47%{
		opacity:1;
		top:140px;
		width:100px; 
		height:60px;
 		border-radius:60px 60px 20px 20px;
 		-moz-border-radius:60px 60px 20px 20px;
 		-webkit-border-radius:60px 60px 20px 20px;
 		-ms-border-radius:60px 60px 20px 20px;
 		-khtml-border-radius:60px 60px 20px 20px;
 		-o-border-radius:60px 60px 20px 20px;
	}100%{
		opacity:1;
		top:140px;
		width:100px; 
		height:60px;
 		border-radius:60px 60px 20px 20px;
 		-moz-border-radius:60px 60px 20px 20px;
 		-webkit-border-radius:60px 60px 20px 20px;
 		-ms-border-radius:60px 60px 20px 20px;
 		-khtml-border-radius:60px 60px 20px 20px;
 		-o-border-radius:60px 60px 20px 20px;
	}
	
}
@keyframes eye{
	15%{	
		opacity:1;
		top:150px;  
		width:60px;
		height:26px;
	}29%{
		opacity:1;
		top:150px; 
		width:60px;
		height:26px;
	}30%{
		opacity:1;
		top:155px;
		width:60px;
		height:26px;
	}40%{
		opacity:1;
		top:-100px;
		width:50px;
		height:21px;
	}47%{
		opacity:1;
		top:150px;  
		width:60px;
		height:26px;
	}47%{
		opacity:1;
		top:155px;
		width:60px;
		height:26px;
	}100%{
		opacity:1;
		top:150px;
		width:60px;
		height:25px;
	}
	
}
@keyframes fade {
  	0% {
    		opacity:1;
  	}
  	100% {
    		opacity:0;
  	}
}
@keyframes main {
  	0% {
    		opacity:0;
  	}
  	100% {
    		opacity:1;
  	}
}